<h1>プロフィール</h1>

<h3>プロフィール画像</h3>
<%= attachment_image_tag @customer, :image, fallback: "no-image.png", size:'350x250' %>
<h3>名前</h3>
<%= @customer.name %>
<h3>メールアドレス</h3>
<%= @customer.email %>
<h3>趣味</h3>
<%= @customer.hobby %>
<p>現在の学習内容</p>
<%= @customer.learning %>
<p>一言</p>
<%= @customer.a_word %>

<% if @customer == current_customer %>
 <%= link_to "編集する", edit_customer_registration_path %>
<% end %>